In [ ]:
# 11.1
# File: zoo.py
def hours():
    print("Open 9-5 daily")

# Save the file and in the interactive interpreter:
# >>> import zoo
# >>> zoo.hours()

# 11.2
# In the interactive interpreter:
# >>> import zoo as menagerie
# >>> menagerie.hours()

# 16.8
from sqlalchemy import create_engine, select, Table, MetaData

# Connect to the database
engine = create_engine("sqlite:///books.db")
connection = engine.connect()

# Reflect the database schema
metadata = MetaData()
book = Table('book', metadata, autoload_with=engine)

# Query to select and print the 'title' column in alphabetical order
stmt = select(book.c.title).order_by(book.c.title)
results = connection.execute(stmt)

print("Book titles in alphabetical order:")
for row in results:
    print(row.title)

connection.close()